/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
     font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Source Sans Pro', 'Helvetica Neue', 'Nanum Barun Gothic', 'Nanum Gothic', Helvetica, Arial, sans-serif;
}

.main_title {
  font-size: 72px;
  letter-spacing: 15px;
  color: #FFF;
  text-shadow: 0 0 10px #cf6b75;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main_subtitle1 {
  font-size: 52px;
  letter-spacing: 15px;
  color: #FFF;
  text-shadow: 0 0 10px #cf6b75;
  margin-bottom: 50px;
}

.main_subtitle2 {
  font-size: 30px;
  letter-spacing: 15px;
  color: #FFF;
  text-shadow: 0 0 10px #1a6d24;
}

.head {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.intro {
    display: inline-block;
    width: 100%;
    font-weight: 300;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
